@st-import [
    flex,
    h-9,
    w-full,
    rounded-md,
    border,
    border-input,
    bg-transparent,
    px-3,
    py-1,
    text-sm,
    shadow-sm,
    transition-colors,

    border-0,
    bg-transparent,
    text-sm,
    font-medium,
    text-foreground,

    text-muted-foreground,

    outline-none,
    ring-1,
    ring-ring,

    cursor-not-allowed,
    opacity-50,

    --muted-foreground,
] from "../tailwind.st.css";

.root {
    -st-mixin:
        flex
        h-9
        w-full
        rounded-md
        border
        border-input
        bg-transparent
        px-3
        py-1
        text-sm
        shadow-sm
        transition-colors
        ;
}

.root::file-selector-button {
    border: 0;
    background-color: transparent;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: hsl(var(--foreground));
}

.root::placeholder {
     color: hsl(var(--muted-foreground));
}

.root:focus-visible {
    -st-mixin:
        outline-none
        ring-1
        ring-ring;
}

.root:disabled {
    -st-mixin:
        cursor-not-allowed
        opacity-50;
}
