.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.root > h1 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.root > a {
    color: cadetblue;
}