@st-import [
    --tw-bg-opacity,
    bg-accent,
    bg-background,
    bg-destructive,
    bg-primary,
    bg-secondary,
    border,
    border-input,
    font-medium,
    gap-2,
    h-10,
    h-8,
    h-9,
    inline-flex, 
    items-center,
    items-center,
    justify-center,
    justify-center,
    opacity-50,
    outline-none,
    pointer-events-none,
    px-3,
    px-4,
    px-8,
    py-2,
    ring-1,
    ring-ring,
    rounded-md,
    shadow,
    shadow-sm,
    text-accent-foreground,
    text-destructive-foreground,
    text-primary,
    text-primary-foreground,
    text-secondary-foreground,
    text-sm,
    text-xs,
    transition-colors,
    underline,
    underline-offset-4,
    whitespace-nowrap,
    w-9,
] from "../tailwind.st.css";

.root {
    -st-states: variant(enum(default, destructive, outline, secondary, ghost, link)), size(enum(default, sm, lg, icon));

    -st-mixin:
        inline-flex
        items-center
        justify-center
        gap-2
        whitespace-nowrap
        rounded-md
        text-sm
        font-medium
        transition-colors
        ;
}

.root:focus-visible {
    -st-mixin: 
        outline-none
        ring-1
        ring-ring;
}

.root:disabled {
    -st-mixin:
        pointer-events-none
        opacity-50;
}

.root svg {
    pointer-events: none;
    width: var(--size-4);
    height: var(--size-4);
    flex-shrink: 0;
}

.root:variant(default) {
    -st-mixin:
        bg-primary,
        text-primary-foreground,
        shadow;
}

.root:variant(default):hover {
    --tw-bg-opacity: 0.9;
}

.root:variant(destructive) {
    -st-mixin:
        bg-destructive
        text-destructive-foreground
        shadow-sm;
}

.root:variant(destructive):hover {
    --tw-bg-opacity: 0.9;
}

.root:variant(outline) {
    -st-mixin:
        border
        border-input
        bg-background
        shadow-sm;
}

.root:variant(outline):hover {
    -st-mixin:
        bg-accent
        text-accent-foreground;
}

.root:variant(secondary) {
    -st-mixin:
        bg-secondary
        text-secondary-foreground
        shadow-sm;
}

.root:variant(secondary):hover {
    --tw-bg-opacity: 0.8;
}

.root:variant(ghost):hover {
    -st-mixin:
        bg-accent,
        text-accent-foreground;
}

.root:variant(link) {
    -st-mixin:
        text-primary
        underline-offset-4;
}

.root:variant(link):hover {
    -st-mixin: underline;
}

.root:size(default) {
    -st-mixin:
        h-9
        px-4
        py-2;
}
.root:size(sm) {
    -st-mixin:
        h-8
        rounded-md
        px-3
        text-xs;
}
.root:size(lg) {
    -st-mixin:
        h-10
        rounded-md
        px-8;
}

.root:size(icon) {
    -st-mixin: h-9 w-9;
}
