@st-namespace "dropdown-menu";

@st-import [
    --popover,
    -mx-1,
    absolute,
    animate-in,
    animate-out,
    bg-accent,
    bg-muted,
    bg-popover,
    bg-primary,
    border,
    cursor-default,
    fade-in-0,
    fade-out-0,
    flex,
    font-semibold,
    gap-2,
    h-3\.5,
    h-px,
    items-center,
    items-center,
    justify-center,
    left-2,
    ml-auto,
    my-1,
    opacity-50,
    opacity-60,
    outline-none,
    overflow-hidden,
    p-1,
    pl-8,
    pr-2,
    px-2,
    py-1\.5,
    relative,
    rounded-md,
    rounded-sm,
    select-none,
    shadow-lg,
    shadow-md,
    slide-in-from-bottom-2,
    slide-in-from-left-2,
    slide-in-from-right-2,
    slide-in-from-top-2,
    text-popover-foreground,
    text-sm,
    text-xs,
    tracking-widest,
    transition-colors,
    w-3\.5,
    z-50,
    zoom-in-95,
    zoom-out-95,
] from "../tailwind.st.css";


.root {
}


.subTrigger {
    -st-mixin:
        flex
        cursor-default
        select-none
        items-center
        rounded-sm
        px-2
        py-1\.5
        text-sm
        outline-none;
}

.subTrigger:focus {
    -st-mixin: bg-accent;
}

.subTrigger[data-state="open"] {
    -st-mixin: bg-accent;
}

.subTriggerArrow {
    margin-left: auto;
    height: 1rem;
    width: 1rem;
}



.subContent {
    -st-mixin: 
        z-50
        overflow-hidden
        rounded-md
        border
        bg-popover
        p-1
        text-popover-foreground
        shadow-lg;
    
    min-width: 8rem;
}

.subContent[data-state="open"] {
    -st-mixin: animate-in fade-in-0 zoom-in-95;
}

.subContent[data-state="closed"] {
    -st-mixin: animate-out fade-out-0 zoom-out-95;
}

.subContent[data-side="bottom"] {
    -st-mixin: slide-in-from-top-2;
}

.subContent[data-side="left"] {
    -st-mixin: slide-in-from-right-2;
}

.subContent[data-side="right"] {
    -st-mixin: slide-in-from-left-2;
}

.subContent[data-side="top"] {
    -st-mixin: slide-in-from-bottom-2;
}



.content {
    -st-mixin:
        bg-primary
        z-50
        overflow-hidden
        rounded-md
        border
        bg-popover
        p-1
        text-popover-foreground
        shadow-md
    ;

    min-width: 8rem;
}

.content[data-state="open"] {
    -st-mixin: fade-in-0 zoom-in-95 animate-in ;
}

.content[data-state="closed"] {
    -st-mixin: animate-out fade-out-0 zoom-out-95;
}



.content[data-side="bottom"] {
    -st-mixin: slide-in-from-top-2;
}

.content[data-side="left"] {
    -st-mixin: slide-in-from-right-2;
}

.content[data-side="right"] {
    -st-mixin: slide-in-from-left-2;
}

.content[data-side="top"] {
    -st-mixin: slide-in-from-bottom-2;
}

.item,
.checkboxItem,
.radioItem
{
    -st-mixin:
        relative
        flex
        cursor-default
        select-none
        items-center
        gap-2
        rounded-sm
        px-2
        py-1\.5
        text-sm
        outline-none
        transition-colors
    ;
}

.item:focus,
.checkboxItem:focus,
.radioItem:focus
{
    -st-mixin: bg-accent;
}

.item[data-disabled],
.checkboxItem[data-disabled],
.radioItem[data-disabled]
{
    -st-mixin: opacity-50;
}

.checkboxItem,
.radioItem
{
    -st-mixin: py-1\.5 pl-8 pr-2;
}

.itemIndicator {
    -st-mixin: absolute left-2 flex h-3\.5 w-3\.5 items-center justify-center;

}

.label {
    -st-mixin: px-2 py-1\.5 text-sm font-semibold;
}

.separator {
    -st-mixin: -mx-1 my-1 h-px bg-muted;
}

.shortcut {
    -st-mixin: ml-auto text-xs tracking-widest opacity-60;
}

.arrow {
    fill: red;
}





@keyframes enter {
    0% {
        
        opacity: var(--tw-enter-opacity, 1);
        transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0))
    }
}

@keyframes exit {
    to {
        
        opacity: var(--tw-exit-opacity, 1);
        transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0))
    }
}

