@st-import [theme-orange, theme-orange-dark, vars] from './components/tailwind.st.css';

:global(body) {
    font-family: sans-serif;
}

:global(a) {
    color: inherit;
}

:global(body) {
    -st-mixin: vars theme-orange theme-orange-dark;
}